//- extends ../layout

//- block content
//-   h1 login
//-   form(action="/login",method="post")
//-         .form-group
//-             label(for="email") email
//-             input#email(type="text", class="form-control", name="email" value="maryam@gmail.com")
//-         .form-group
//-             label(for="password") password
//-             input#password(type="text", class="form-control", name="password" value="maryam")
//-         input(type="submit", class="btn btn-info" value="Register")
 